<div class="div-cep">
  <div class="buscar-cep">
    <p-floatLabel>
      <input #cep pInputText mask="00000-000" id="cep" />
      <label for="cep">CEP</label>
    </p-floatLabel>
    <button pButton (click)="buscarCep(cep.value)">Buscar</button>
  </div>
  <form action="" class="form" [formGroup]="form" (ngSubmit)="salvarCep()">
    <app-input-cep [form]="form" [campo]="'cep'" [label]="'CEP'" [mascara]="'00000-000'"></app-input-cep>
    <app-input-cep [form]="form" [campo]="'logradouro'" [label]="'Logradouro'"></app-input-cep>
    <app-input-cep [form]="form" [campo]="'complemento'" [label]="'Complemento'" [mascara]="'0.000'"></app-input-cep>
    <app-input-cep [form]="form" [campo]="'unidade'" [label]="'Unidade'"></app-input-cep>
    <app-input-cep [form]="form" [campo]="'bairro'" [label]="'Bairro'"></app-input-cep>
    <app-input-cep [form]="form" [campo]="'localidade'" [label]="'Localidade'"></app-input-cep>
    <app-input-cep [form]="form" [campo]="'uf'" [label]="'UF'"></app-input-cep>
    <app-input-cep [form]="form" [campo]="'estado'" [label]="'Estado'"></app-input-cep>
    <app-input-cep [form]="form" [campo]="'regiao'" [label]="'Regiao'"></app-input-cep>
    <app-input-cep [form]="form" [campo]="'ibge'" [label]="'IBGE'" [readOnly]="true"></app-input-cep>
    <app-input-cep [form]="form" [campo]="'gia'" [label]="'GIA'"></app-input-cep>
    <app-input-cep [form]="form" [campo]="'ddd'" [label]="'DDD'"></app-input-cep>
    <app-input-cep [form]="form" [campo]="'siafi'" [label]="'Siafi'" [readOnly]="true"></app-input-cep>

    <button class="salvarCep" pButton type="submit" [disabled]="!form.valid">Salvar</button>
  </form>
</div>
